
     
.navbar {
  margin-bottom: 10;
  border-radius: 10;
}

.jumbotron{
  background-image: url("comicCollection\img\jla_avengers_busiek_perez.jpg");
  background-size:cover;
  height: fit-content;
}

.container-fluid {
  background-image: url("comicCollection\img\beautiful-colorful-comic-book-background-illustration.jpg");
  background-size:cover;
  height: fit-content;
}


footer {
  background-color: #2aaabb;
  padding: 25px;
}
